<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Panel</title>

    <center>
    <h1 style="background:lime">Admin Panel</h1>
    </center>
</head>
<body style="background:darkred">
<center>
<form style="padding:25pt">
<center>
<table border ='8'>

<tr>
<td>Name:</td>
<td><input type="text" name="name5"/></td>
</tr>


<tr>
<td>ID:</td>
<td><input type="text" name="id5"/></td>
</tr>

<tr>
<td>Marks:</td>
<td><input type="text" name="marks5"/></td>
</tr>
</table>
</center>
</form>


<button  style="margin-top:10pt;margin-left:500pt;height:25pt;width:100pt;background-color:red">
Insert
</button>
</br>

<button style="margin-top:10pt;margin-left:500pt;height:25pt;width:100pt;background-color:Aqua">
Delete
</button>

</br>

<button style="margin-top:10pt;margin-left:500pt;height:25pt;width:100pt;background-color:lime">
Update
</button>

</br>
<button style="margin-top:10pt;margin-left:500pt;height:25pt;width:100pt;background-color:Orange">
<a href="Menu.html">Back</a>
</button>

</body>
</html>
