<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Admin Signup</title>
</head>
<body style="background:#4d0000">
<style>

th{

color:#ffffff;
}
td{
color:#FFCC00;
}
</style>
<center>
<h1  style = "color:red;font-size:40pt">Admin Sign up</h1>

<marquee style="color:#4d0000;font-size:18pt; margin:20px ;background: linear-gradient(to right, #4d0000,#ffffff,#4d0000);">
You have to log  in first to update the <i>Website</i>!!!!So please log in, 
or <i>Sign up</i> if you  have no account.
</marquee>


<table border='8' style="margin-top:50pt">
</form>

<tr>
<td>User Name</td>
<td>
<input type="text" name="u_n2"/>
</td>
</tr>

<tr>
<td>User ID</td>
<td>
<input type="text" name="u_i2"/>
</td>
</tr>


<tr>
<td>Institute</td>
<td>
<input type="text" name="i_n2"/>
</td>
</tr>



<tr>
<td>Roll No</td>
<td>
<input type="text" name="r_n2"/>
</td>
</tr>

<tr>
<td>Password</td>
<td>
<input type="password" name="p2"/>
</td>
</tr>


</form>
</table>


<center>


<button style="margin-top:10pt;height:25pt;width:200pt;background-color:#4d0000">
<a href=" AdminLogin.html">Sign in</a>
</button>
</br>

<button style="margin-top:15pt;height:25pt;width:200pt;background-color:#4d0000">
<a href="Menu.html">Back</a>
</button>


</body>
</html>
