<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Branches</title>
    <style>

th{

color:#ffffff;
}
td{
color:#FFCC00;
}
</style>
</head>
<body style="background:#4d0000">
<center>
<text style="color:red ;font-size:30pt">Branches of Different Hospitals</text>
</center>

<center>
<text style="color:orange ;font-size:15pt">
There are <i>10</i> branches of different hospitals</br>All of the branches are situated in <i>Dhaka</i>
</text>
</center>
<center>
<table border="9">
<tr>
<th>Branch</th>
<th>Address</th>
<th>Mobile No</th>
</tr>

<tr>
<td>Puran Dhaka</td>
<td>34,English Road,</br>Rayshaheb Bazar,Dhaka-1203</td>
<td>01828362811</td>
</tr>

<tr>
<td>Motijheel</td>
<td>24,Arambagh(Opposite to Notre Dame College),</br>Motijheel,Dhaka-1206</td>
<td>01828362812</td>
</tr>

<tr>
<td>Baily Road</td>
<td>243,Navana Baily Star Shopping Complex,</br>Baily Road,Dhaka-1207</td>
<td>01828362813</td>
</tr>

<tr>
<td>Rampura</td>
<td>27,DIT Road,Rampura,Dhaka-1212</td>
<td>01828362814</td>
</tr>

<tr>
<td>Gulshan</td>
<td>14,Gulshan-1,DCC Super Market,</br>Gulshan,Dhaka-1212</td>
<td>01878362815</td>
</tr>

<tr>
<td>Farmgate</td>
<td>29,Green View Super Market Road,</br>Framgate,Dhaka</td>
<td>01668362816</td>
</tr>

<tr>
<td>Malibag</td>
<td>34,Malibaag Coudhuripara Road,</br>Malibaag,Dhaka-1211</td>
<td>01558362817</td>
</tr>

<tr>
<td>Mouchack</td>
<td>24,Mouchak Super Market Road,</br>Mouchack,Dhaka-1207</td>
<td>01528362818</td>
</tr>

<tr>
<td>Gulistan</td>
<td>26,Baitul Mukarram,Gulistan,</br>Dhaka-1203</td>
<td>01628262811</td>
</tr>

<tr>
<td>Jatrabari</td>
<td>247,Ayesha Mosharraf Shopping Market Road,</br>Dania,Jatrabari,Dhaka-1204</td>
<td>01728362111</td>
</tr>
</table>



<b style="background:#000000;
 font-size:30pt;
 float:right;
 clear:center;
 color:#ffff00;
 border-radius:10px;
 margin:20px;
 padding: 0dp;">
<b  style="margin:20px;">
<a href="Menu.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Go Back
</a>
</b>
</b>
</b>
</body>
</html>
