<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Healthcare Management System</title>
</head>
<body>
<head>
<style type ="text/css">
text{
    color:purple;font-size:75pt
	}
body{
background-color:lime;
padding:20pt
}
</style>
</head>
<text>
<center>
<strong>
Healthcare Management System</br>
</strong>
</center>

</text>

<h1 style="color:red;margin-left:550pt">
<i>
<center>
Streamlining healthcare services 
</center>
</i>
</h1>
<center>
<img src="pic1.PNG" width="600" height="250">
</center>
<style type="text/css">
p{
color:indigo;font-size:20pt;
}
</style>
<p>
<i>Healthcare Management System</i> is a comprehensive digital solution designed to streamline and optimize the administration of healthcare services. 
</br>It integrates various functionalities such as <i>patient management, appointment scheduling, medical record keeping, billing, and reporting </i> into a unified platform, enabling efficient communication between healthcare providers, patients, and administrative staff. This system enhances operational efficiency, improves patient care, and ensures compliance with healthcare regulations by leveraging real-time data, secure access controls, and seamless cross-platform functionality. 
</br>By automating key processes and facilitating data-driven decision-making, the system plays a crucial role in modernizing healthcare delivery and management.
</p>
<button style="background-color:brown">
<a href="Menu.html">Go to Menu</a>
</button>


<button>
<a href="N_B.html">Log  in first</a>
</button>




</body>
</html>
