<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notice Board</title>
</head>
<body style="background:#90EE90">
<center>
<text style="color:DarkMagenta ;font-size:30pt">Notice Board</br></br></br></text>
</center>
<marquee>
<text style="color:red ;font-size:20pt">Developed by :- Rajib Ahmed</br></br></br></text>
</marquee>
<p style="color:red ;font-size:17pt">20.6.2024</p>
<p>The hospitals will remain  off for Eid ul-Fitr from 25-6-2024 to 18-7-2024</p>

<p style="color:red ;font-size:17pt">1.6.2024</p>
<marquee style="color:blue ;font-size:17pt"><i>Prizes</i> for the <i>Positions</i></marquee>
<center>
<table border="9"> <tr> <th>Position</th> <th>Prize</th> <th>Programme</th> </tr> <tr> <td>1st</td> <td>Advanced Healthcare Kit</td> <td>Healthcare Management System</td> </tr> <tr> <td>2nd</td> <td>Smartwatch with Health Monitoring</td> <td>Healthcare Management System</td> </tr> <tr> <td>3rd</td> <td>Digital Blood Pressure Monitor</td> <td>Healthcare Management System</td> </tr> <tr> <td>4th</td> <td>Fitness Tracker</td> <td>Healthcare Management System</td> </tr> <tr> <td>5th</td> <td>Telemedicine Consultation Vouchers</td> <td>Healthcare Management System</td> </tr> <tr> <td>6th</td> <td>tk 10,000/=</td> <td>Healthcare Management System</td> </tr> <tr> <td>7th</td> <td>tk 5,000/=</td> <td>Healthcare Management System</td> </tr> </table>


</center>

<p style="color:red ;font-size:17pt">16.7.2024</p>
<center>
<h2 style="color:blue">Hospital Admission and Bed Lists</h2>
</center>
<marquee style="font-size:20pt;color:red">This is the Bed Lists of Hospital Admissions!!!!</marquee>
<center>
<img src ="ad1.PNG">
</center>

<p style="color:red ;font-size:12pt">N.B.:</p><p style="color:darkred;font-size:17pt">
 Results of the Pathology Tests will be given the notice board.S o,please stay with us to see your <a href="results.html">Results</a> </p>

<button  style="margin-top:10pt;height:25pt;width:200pt;background-color:red;margin-left:700pt;margin-top:100pt">
<a href="Menu.html">Back</a>
</button>
</body>
</html>
