<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Menu</title>
</head>
<body>
<style type ="text/css">
text{
    color:white;font-size:60pt;
	}
body{
background-color:#4d0000;
padding:10pt
}

br{
display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
</style>
</head>
<text>
<h1 style="float: right; color:#4d0000;font-size:18pt; margin:20px ;background: linear-gradient(to right, #4d0000,#4C1012 , white);width:100%; ">
<center style="float:right;
 margin-right: 20px"
>
<strong style="font-weight: 600;
font-family: cursive;
 color:#4d0000;
 font-size:35pt;  ">
Healthcare Management System</br>
</strong>
</center>
</text>

<i style="clear:right; float:right" >
<center style="position:relative; margin-top:10px; margin-right: 20px">
Be Safe, Be Happy!!
</center>
</i>
</h1>

<marquee style="color:#4d0000;font-size:18pt; margin:20px ;background: linear-gradient(to right, #4d0000,#ffffff,#4d0000);">
Welcome to <i>Healthcare Management System</i>!!!!!
</marquee>

<center>
<img src="pic3.PNG">
<img src="pic33.PNG">

</center>
<ul>
<center><b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="Homepage.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Homepage

</a>
</b></b>


<br/> <b style="background:#4d0000;
 font-size:30pt;
 color:#ffff00;
 border-radius:10px;
 margin:5px;
 padding: 0dp;
 height:100px;"
>
<a href="Class_routine.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Doctors Hospital Timing
</a>
</b></b>
<br/> 
<b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="scheduleType.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Patients Timing
</a>
</b></b>
<br/> <b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="TP.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Doctors's Panel
</a>
</b></b>
<br/> <b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="SP.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Patients's Panel
</a>
</b></b>
<br/> 
<b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="PC.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Diseases
</a>
</b></b>
<br/> <b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="Branches.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Branches
</a>
</b></b>
<br/> <b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="login_form.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Notice Board
</a>
</b></b>

</center>

</ul>
</body>
</html>
