<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Programmes and Courses</title>
    <style>

th{

color:#ffffff;
}
td{
color:#FFCC00;
}
</style>
</head>
<body style="background:#4d0000;">
<center>
<text style="color:DarkMagenta ;font-size:30pt">Diseases and Fees</text>
</center>

<center>
<text style="color:orange ;font-size:15pt">
Details on Office(7A02)</br>Payment should be taken as per <i>Appointment</i>
</text>
</center>

<center>
<table border="9">
<tr>
<th>Disease</th>

<th>Fee</th>
</tr>
<tr>
<td>Fever</td>

<td>700/=</td>
</tr>

<tr>
<td>Surgery</td>

<td>700/=</td>
</tr>
<tr>
<th>Service</th>
<th>Fee</th>
</tr>

<tr>
<td>Fever Consultation</td>
<td>700/=</td>
</tr>

<tr>
<td>Surgery</td>
<td>7000/=</td>
</tr>

<tr>
<td>General Checkup</td>
<td>500/=</td>
</tr>

<tr>
<td>Telemedicine Consultation</td>
<td>800/=</td>
</tr>

<tr>
<td>Vaccination</td>
<td>600/=</td>
</tr>

<tr>
<td>Blood Test</td>
<td>300/=</td>
</tr>

<tr>
<td>X-Ray</td>
<td>1200/=</td>
</tr>

<tr>
<td>Ultrasound</td>
<td>1500/=</td>
</tr>

<tr>
<td>Physiotherapy Session</td>
<td>900/=</td>
</tr>

<tr>
<td>Cardiology Consultation</td>
<td>2000/=</td>
</tr>
</center>
</table>
<center>
<table border="9">
<tr>
<th>Service</th>
<th>Fee</th>
</tr>

<tr>
<td>Fever Consultation</td>
<td>700/=</td>
</tr>

<tr>
<td>Surgery</td>
<td>7000/=</td>
</tr>

<tr>
<td>General Checkup</td>
<td>500/=</td>
</tr>

<tr>
<td>Telemedicine Consultation</td>
<td>800/=</td>
</tr>

<tr>
<td>Vaccination</td>
<td>600/=</td>
</tr>

<tr>
<td>Blood Test</td>
<td>300/=</td>
</tr>

<tr>
<td>X-Ray</td>
<td>1200/=</td>
</tr>

<tr>
<td>Ultrasound</td>
<td>1500/=</td>
</tr>

<tr>
<td>Physiotherapy Session</td>
<td>900/=</td>
</tr>

<tr>
<td>Cardiology Consultation</td>
<td>2000/=</td>
</tr>
</center>
</table>
<center>
<table border="9">


<tr>
<th>Service</th>
<th>Fee</th>
</tr>

<tr>
<td>Fever Consultation</td>
<td>700/=</td>
</tr>

<tr>
<td>Surgery</td>
<td>7000/=</td>
</tr>

<tr>
<td>General Checkup</td>
<td>500/=</td>
</tr>

<tr>
<td>Telemedicine Consultation</td>
<td>800/=</td>
</tr>

<tr>
<td>Vaccination</td>
<td>600/=</td>
</tr>

<tr>
<td>Blood Test</td>
<td>300/=</td>
</tr>

<tr>
<td>X-Ray</td>
<td>1200/=</td>
</tr>

<tr>
<td>Ultrasound</td>
<td>1500/=</td>
</tr>

<tr>
<td>Physiotherapy Session</td>
<td>900/=</td>
</tr>

<tr>
<td>Cardiology Consultation</td>
<td>2000/=</td>
</tr>
</center>



</table>



<b style="background:#000000;
 font-size:30pt;
 float:right;
 clear:center;
 color:#ffff00;
 border-radius:10px;
 margin:20px;
 padding: 0dp;">
<b  style="margin:20px;">
<a href="scheduleType.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Go Back
</a>
</b>
</b>
</b>
</body>
</html>
