<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Doctors Timing</title>
    <style>

th{

color:#ffffff;
}
td{
color:#FFCC00;
}
</style>
</head>
<body>
<body style="background-color:#4d0000;">

<text>
<h1 style="float: right; color:#4d0000;font-size:18pt; margin:20px ;background: linear-gradient(to right, #4d0000,#4C1012 , white);width:100%; ">
<center style="float:right;
 margin-right: 20px"
>
<strong style="font-weight: 600;
font-family: cursive;
 color:#4d0000;
 font-size:35pt;  ">
Healthcare Management System</br>
</strong>
</center>
</text>

<i style="clear:right; float:right" >
<center style="position:relative; margin-top:10px; margin-right: 20px">
Be Healthy, Be Happy!!!
</center>
</i>
</h1>

<marquee style="color:#4d0000;font-size:18pt; margin:20px ;background: linear-gradient(to right, #4d0000,#ffffff,#4d0000);">
Welcome to <i>Healthcare Management System</i>!!!!!
</marquee>

<text style="margin-top:5pt;font-size:29pt;color:orange">
<center>
<strong>
Schedule Choice
</strong>
</center>
</text>
<center>
<img src="pic4.PNG" width="1200" height="400">
</center>

<center style="margin-top:50px;margin-bottom:50px;">
<text style="color:brown;font-size:15pt;margin-left:50pt;margin-top:20px;">
The Doctors Panel in the Healthcare Management System (HMS) is a core feature designed to provide seamless interaction between patients and healthcare professionals. 
</br>It includes a diverse team of medical experts from various specialties such as Medicine, Psychiatry, Cardiology, Gynecology, and Nephrology, ensuring comprehensive and personalized care for patients. 
</br>Through the system, patients can book appointments, consult doctors remotely, and access their medical records. This panel enables real-time collaboration among specialists to offer accurate diagnoses, treatment plans, and follow-up care, promoting efficient healthcare management with a user-centric approach.
<text style="font-size:20pt;color:orange">So,choose the time you required!!!!</text>
</text>
</center>
<center>
<b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="SSCModelTest.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Doctors Timing
</a>
</b></b>

</br>
</br>
<b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="HSCModelTest.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
List of Diseases and Drugs
</a>
</b></b>

</br>
</br>
<b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="EngineeringAT.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
List of Online Resources
</a>
</b></b>

</br>
</br>
<b style="background:#4d0000;
 font-size:30pt;
 float:center;
 color:#ffff00;
 border-radius:10px;
margin-bottom:10px;
 padding: 0dp;">
<a href="BiologyTest.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Additional Information or Emergency Contact
</a>
</b></b>


</center>
<br/>
<b style="background:#000000;
 font-size:30pt;
 float:right;
 clear:center;
 color:#ffff00;
 border-radius:10px;
 margin:20px;
 padding: 0dp;">
<b  style="margin:20px;">
<a href="Menu.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Go Back
</a>
</b>
</b>
</b>
</body>
</html>
