<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Student Registration</title>
    <style>
td{
color:#ffffff;
}
</style>
</head>
<body style="background:#4d0000">
<center>
<text style="color:#ffffff ;font-size:30pt">Student's Registration</text>
</center>

<center>
<text style="color:blue ;font-size:20pt">Please Fill up the form to register</br>
</center>
</text>
<marquee style="color:#4d0000;font-size:18pt; margin:20px ;background: linear-gradient(to right, #4d0000,#ffffff,#4d0000);">
After filling it up,Click <i>Register</i>,else click <i>Back</i>

</marquee>

<center>
<text style="color:orange ;font-size:15pt">
Please fill up  the  form to be a <i>member(teacher)</i> of this Academy
</text>
</center>
<form style="padding:25pt">
<center>
<table border ='8'>

<tr>
<td>Name:</td>
<td><input type="text" name="name"/></td>
</tr>


<tr>
<td>Institute Name:</td>
<td><input type="text" name="i_name"/></td>
</tr>

<tr>
<td>Age:</td>
<td><input type="text" name="age"/></td>
</tr>

<tr>
<td>Mobile No.:</td>
<td><input type="text" name="m_no"/></td>
</tr>

<tr>
<td>Student ID:</td>
<td><input type="text" name="s_id"/></td>
</tr>


</table>
</center>
</form>

<button  style="margin-top:10pt;margin-left:600pt;height:25pt;width:200pt;background-color:red">
<a href="SRR.html">Register</a>
</button>
</br>

<button style="margin-top:10pt;margin-left:600pt;height:25pt;width:200pt;background-color:Aqua">
<a href="Menu.html">Back</a>
</button>
</body>
</html>
