<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>See Patients</title>
    <center>
    <h1 style="background:red">See Patients</h1>
    </center>
</head>
<body style="background:lime">
<center>
<img src="pr2.PNG" width="600" height="250" >

</center>
</br>

<button style="margin-top:7pt;margin-left:400pt;height:25pt;width:100pt;background-color:orange">
<a href="Menu.html">Back</a>
</button>
</body>
</html>
