<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SSC</title>
    <style>

th{

color:#ffffff;
}
td{
color:#FFCC00;
}
</style>
</head>
<body  style="background:#4d0000">
<center>
<text style="color:DarkMagenta ;font-size:30pt">Doctors Appointment Time</text>
</center>

<center>
<text style="color:red ;font-size:15pt">Time 1:8:00 am-10:00 am </br> Time 2:10:00 am -12:00 am </br>Chamber Room 5A03-5A09 (4th Floor)</br>
Details on Administrative Office(5A02)
</text>
</center>

<center>
<table border="9">
<tr>
<th>Date</th>
<th>Time</th>
<th>Specialist</th>
</tr>
<tr>
<td>26/10/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology 1</td>
</tr>

<tr>
<td>27/10/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Nephrology 1</td>
</tr>

<tr>
<td>28/10/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Medicine 1</td>
</tr>

<tr>
<td>29/10/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psychaitrist 1</td>
</tr>

<tr>
<td>30/10/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Cardiology 2</td>
</tr>

<tr>
<td>31/10/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Medicine 2</td>
</tr>

<tr>
<td>01/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Psychaitrist 2</td>
</tr>

<tr>
<td>02/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Nephrology 2</td>
</tr>

<tr>
<td>03/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecologist 1</td>
</tr>

<tr>
<td>04/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Gynecologist 2</td>
</tr>

<tr>
<td>05/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Cardiology 3</td>
</tr>

<tr>
<td>06/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Nephrology 3</td>
</tr>

<tr>
<td>07/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Gynecologist 3</td>
</tr>

</table>
</center>

<center>
<table border="8">
<tr>
<th>Date</th>
<th>Time</th>
<th>Specialist</th>
</tr>
<tr>
<td>08/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Nephrology 4</td>
</tr>

<tr>
<td>09/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psyciatrist 3</td>
</tr>

<tr>
<td>10/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psyciatrist 4</td>
</tr>

<tr>
<td>11/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Medicine 3</td>
</tr>

<tr>
<td>12/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Psyciatrist 5</td>
</tr>

<tr>
<td>13/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Medicine 3 </td>
</tr>

<tr>
<td>14/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Medicine 4</td>
</tr>

<tr>
<td>13/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Medicine 5</td>
</tr>

<tr>
<td>14/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Nephrology 5</td>
</tr>

<tr>
<td>15/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Gynecologist 4</td>
</tr>

<tr>
<td>16/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Gynecologist 5</td>
</tr>

<tr>
<td>17/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Medicine 1</td>
</tr>

<tr>
<td>18/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Psyciatrist 2</td>
</tr>

</table>
</center>

<center>
<table border="9">
<tr>
<th>Date</th>
<th>Time</th>
<th> </th>
</tr>
<tr>
<td>19/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Medicine 2 </td>
</tr>

<tr>
<td>20/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Nephrology 2</td>
</tr>

<tr>
<td>21/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecologist 3</td>
</tr>

<tr>
<td>22/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecologist 4</td>
</tr>

<tr>
<td>23/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Cardiology 5</td>
</tr>

<tr>
<td>24/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology 1</td>
</tr>

<tr>
<td>25/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Medicine:  7</td>
</tr>

<tr>
<td>26/11/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Medicine:  8</td>
</tr>

<tr>
<td>27/11/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Medicine:  9</td>
</tr>

<tr>
<td>29/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Medicine:  10</td>
</tr>

<tr>
<td>30/11/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Medicine:  13</td>
</tr>

<tr>
<td>1/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Medicine:  11</td>
</tr>

<tr>
<td>2/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Medicine:  12</td>
</tr>

</table>
</center>

<center>
<table border="9">
<tr>
<th>Date</th>
<th>Time</th>
<th> </th>
</tr>
<tr>
<td>3/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psychiatry:  1</td>
</tr>

<tr>
<td>4/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psychiatry:  2</td>
</tr>

<tr>
<td>5/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psychiatry:  3</td>
</tr>

<tr>
<td>6/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psychiatry:  4</td>
</tr>

<tr>
<td>7/12/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Psychiatry:  5</td>
</tr>

<tr>
<td>8/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psychiatry:  6</td>
</tr>

<tr>
<td>9/12/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Psychiatry:  7</td>
</tr>

<tr>
<td>10/12/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Psychiatry:  8</td>
</tr>

<tr>
<td>11/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Psychiatry:  9</td>
</tr>

<tr>
<td>12/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Psychiatry:  10</td>
</tr>

<tr>
<td>13/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Psychiatry:  13</td>
</tr>

<tr>
<td>14/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Psychiatry:  11</td>
</tr>

<tr>
<td>15/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Psychiatry:  12</td>
</tr>

<center>
<table border="9">
<tr>
<th>Date</th>
<th>Time</th>
<th> </th>
</tr>
<tr>
<td>16/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology:  1</td>
</tr>

<tr>
<td>17/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology:  2</td>
</tr>

<tr>
<td>18/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology:  3</td>
</tr>

<tr>
<td>19/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology:  4</td>
</tr>

<tr>
<td>20/12/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Cardiology:  5</td>
</tr>

<tr>
<td>21/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology:  6</td>
</tr>

<tr>
<td>22/12/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Cardiology:  7</td>
</tr>

<tr>
<td>23/12/2017</td>
<td>8:00  am & 10:00 am</td>
<td>Cardiology:  8</td>
</tr>

<tr>
<td>24/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Cardiology:  9</td>
</tr>

<tr>
<td>25/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Cardiology:  10</td>
</tr>

<tr>
<td>26/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Cardiology:  11</td>
</tr>

<tr>
<td>27/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Cardiology:  11</td>
</tr>

<tr>
<td>28/12/2017</td>
<td>8:00 am & 10:00  am</td>
<td>Cardiology:  12</td>
</tr>

<center>
<table border="9">
<tr>
<th>Date</th>
<th>Time</th>
<th> </th>
</tr>
<tr>
<td>29/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecology:  1</td>
</tr>

<tr>
<td>30/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecology:  2</td>
</tr>

<tr>
<td>31/12/2017</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecology:  3</td>
</tr>

<tr>
<td>1/1/2018</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecology:  4</td>
</tr>

<tr>
<td>2/1/2018</td>
<td>8:00  am & 10:00 am</td>
<td>Gynecology:  5</td>
</tr>

<tr>
<td>3/1/2018</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecology:  6</td>
</tr>

<tr>
<td>4/1/2018</td>
<td>8:00  am & 10:00 am</td>
<td>Gynecology:  7</td>
</tr>

<tr>
<td>5/1/2018</td>
<td>8:00  am & 10:00 am</td>
<td>Gynecology:  8</td>
</tr>

<tr>
<td>6/1/2018</td>
<td>8:00 am & 10:00 am</td>
<td>Gynecology:  9</td>
</tr>

<tr>
<td>7/1/2018</td>
<td>8:00 am & 10:00  am</td>
<td>Gynecology:  10</td>
</tr>

<tr>
<td>8/1/2018</td>
<td>8:00 am & 10:00  am</td>
<td>Gynecology:  10</td>
</tr>

<tr>
<td>9/1/2018</td>
<td>8:00 am & 10:00  am</td>
<td>Gynecology:  11</td>
</tr>

<tr>
<td>10/1/2018</td>
<td>8:00 am & 10:00  am</td>
<td>Medicine:  11</td>
</tr>

</table>
</center>

<center>
<text style="color:indigo ;font-size:20pt">
Take Care of your Health!!!!
</text>
</center>

<b style="background:#000000;
 font-size:30pt;
 float:right;
 clear:center;
 color:#ffff00;
 border-radius:10px;
 margin:20px;
 padding: 0dp;">
<b  style="margin:20px;">
<a href="scheduleType.html", style="
font-family: normal;text-decoration: none;"> 
<b style="color:#ffffff;"> 
Go Back
</a>
</b>
</b>
</b>
</body>

</html>
