<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Doctor</title>
</head>
<body style="background:#4d0000;">
<center>
<text style="color:DarkMagenta ;font-size:30pt">Doctors's Panel</br></br></br></text>
</center>

<center>
<img src="college.PNG" width="600" height="250" >
</center>

<center>
<button  style="height:25pt;width:200pt;background-color:#4d0000;margin-top:70pt">
<a href="STR.html">See Doctors</a>
</button>
</center>
<center>
<button  style="margin-top:10pt;height:25pt;width:200pt;background-color:#4d0000">
<a href="TR.html">Registration</a>
</button>
</center>
<center>
<button  style="margin-top:10pt;height:25pt;width:200pt;background-color:#4d0000">
<a href="Menu.html">Back</a>
</button>
</center>


</body>
</html>
